@font-face{
  src:url('./Inter-Regular.ttf');
  font-family:Inter;
  font-display: block;
}
body{
  font-family: Inter !important;
  overflow-x: hidden;
}
.wrapper{
  padding: 0 30px;
}
a{
  color: #FF9671;
}
#nav{
  height: 73px;
  align-items:center;
  border: none;
  border-bottom: 1px solid #f5ecff;
  background-color: #fff;
}
#main{
  height: calc(100vh - 73px);
  position: relative;
  
}
#we-brand{
   color: #FF9671;
}
#work{
  background-image: url('./hero.png');
  height: 600px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.btn-register{
  background-color: #00C9A7;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
.btn-learn-more{
  color: #00C9A7;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
#main h1{
  font-weight: bold;
}
/* Nav Component */
.nav-link{
  color: #1c1a27;
}
.log-in{
  color: #00C9A7;
}
.h-brand{
  color: #FF9671;
  margin-bottom: 0;
}
.selected{
  color: #FF9671;
}
/* Nav Component */
/* Register Component */
.left{
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;width: 35vw;
}
.right{
  position: absolute;
  top: 0;
  left: 35vw;
}
.R-brand{
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
}
.controle-image{
  background-image: url('./register.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 70px;
  align-self: center;
  height: 500px;
  width: 500px;
}
.input{
  background-color: white;
  border: 1px solid rgba(29,37,59,.5);
  border-radius: 8px !important;
}
.input::placeholder{
  color:grey
}
.register-btn{
  background-color: #00C9A7;
  border-radius: 12px;
  color: #fff;
  width: 100%;
  font-weight:bold;
}
/* Sign in Component */
.register{
  position: absolute;
    top: 24px;
    right: 10px;
}
.svgLoading{
  background-color: #00C9A7;
  color: #fff;
  width: 100%;
  font-weight:bold;
  border-radius: 12px;
  text-align: center;
}
/* USER ASIDE */
.unav{
  position: absolute;
  top: 0;
  left: 0;
  height: 73px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff; 
}
.unav ul{
  margin: 0;
}
.unav ul li{
  list-style: none;
}
.btn-secondary{
  color: #000 !important;
}
.image-user{
  /* background: url('./user.png'); */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-size: 100% 100%;
}
.logOut-image{
  transform: rotate(-180deg);
}
.logOut-image svg{
  height: 30px;
  width: 30px;
  fill: #fff;
  transition: fill .1s linear;
  cursor: pointer;
}
.logOut-image svg:hover{
  fill: #00C9A7;
}
/*DashBoard */

.send-button{
  max-width: 250px;
  min-width: 100px;
  background-color: #FF9671;
  color: #fff;
  float: right;
  font-weight: bold;
  border-radius:12px;
}
.send-temps-button{
  max-width: 250px;
  min-width: 100px;
  background-color: #FF9671;
  color: #fff;
  float: right;
  font-weight: bold;
  border-radius:12px;
}
.static-box{
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 1px 15px 0 hsla(0,0%,48%,.05);
}


.btn-success-icon{
  color:#00f2c3;
  border: #00f2c3;
  background-color: transparent;
}
.btn-success-icon:hover{
color:#01d4aa;
  border: #01d4aa;
}
.btn-danger-icon{
  color:#fd5d93;
  border: #fd5d93;
  background-color: transparent;
}
.btn-danger-icon:hover{
  color:#cf4573;
  border: #cf4573;
}
.table td, .table th{
  vertical-align: middle !important;
}
/* Utils */
.st-row{
  margin: 0 0 83px 0;
}
.margin-t{
  margin: 83px 0 !important;
}
.custome-box{
  border-radius: 12px;
  background: #fff;
/* box-shadow: 0 1px 15px 0 hsla(0,0%,48%,.05); */
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  margin-left: 0;
  margin-right: 0;
}
.custome-temps{
  background: #fff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card{
  border: 0;
}
.card-header{
  border: 0;
  background-color:transparent;
}
.card .card-header h4{
  color: #222a42;
}
.badge{
  text-align: center;
  vertical-align: middle;
  line-height: unset;
  font-size: unset;
  border-radius: 12px;
  font-weight: bold;
}
label{
  font-size: .75rem;
  margin-bottom: 5px;
}
span{
  color:#00C9A7;
}
.file-status{
  color: gray;
align-self: center;
}
.card-footer{
  border: 0;
  background-color: #fff;
}
.middler{
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}
.cellsData{
  background-color: transparent;
  border: none;
  outline: none;
  color: #222a42;
}
/* End Utils */
.pinned{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}
.pending{
  overflow-x: hidden !important;
}
.file-devision{
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px dashed #ccc;
    display: inline-block !important;
    height: 150px;
    width: 150px;
    background-color: #fff;
    color: #c2c2c2;
    border-radius: 50%;
    padding: 6px 12px;
    cursor: pointer;
}
/* PROFILE */
.update-button{
  width: 100%;
  margin: 2px auto;
  background-color: #FF9671;
  color: #fff;
  font-weight: bold;
  border-radius:12px;
}
#dropdownMenu2{
  display: flex;
align-items: center;
justify-content: space-around;
background-color: transparent;
border-color: transparent;
}
.avatar{
  height: 80px;
  width: 80px;
  border-color:transparent ;
  border-radius:50%;
  cursor: pointer;
}
.v-center{
  display: flex;
  align-items: center;
}
.avatar-img{
  display: none;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* EDIT */
.uper{
  text-transform: uppercase;
  color: #FF9671;
  margin-bottom:0;
  display: inline-block;
}
.template-card{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.c-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #00C9A7;
  text-transform: capitalize;
}
.file-box{
  border:none;
  cursor: pointer;
  transition: all .2s linear;
}
.file-box:hover{
  background-color: #FF967178;
  color: #fff;
}
@keyframes role{
  from{
    transform:rotate(0deg) ;
  }
  to{
    transform:rotate(360deg) ;
  }
}